# ETL Processes
Use this notebook to develop the ETL process for each of your tables before completing the `etl.py` file to load the whole datasets.

In [95]:
import os
import glob
import sys
import psycopg2
import pandas as pd

from sql_queries import *
#import sql_queries as sq
#from importlib import reload
#reload(sq)
#print(sq.songplay_table_insert)
#print(songplay_table_insert)

In [132]:
conn = psycopg2.connect("host=127.0.0.1 dbname=sparkifydb user=student password=student")
cur = conn.cursor()

In [97]:
def get_files(filepath):
    all_files = []
    for root, dirs, files in os.walk(filepath):
        files = glob.glob(os.path.join(root,'*.json'))
        for f in files :
            all_files.append(os.path.abspath(f))
    
    return all_files

# Process `song_data`
In this first part, you'll perform ETL on the first dataset, `song_data`, to create the `songs` and `artists` dimensional tables.

Let's perform ETL on a single song file and load a single record into each table to start.
- Use the `get_files` function provided above to get a list of all song JSON files in `data/song_data`
- Select the first song in this list
- Read the song file and view the data

In [98]:
song_files = get_files('data/song_data')
#print(song_files)

In [99]:
filepath = song_files[0]

In [100]:
df = pd.read_json(filepath, lines=True)
df.head()

,artist_id,artist_latitude,artist_location,artist_longitude,artist_name,duration,num_songs,song_id,title,year
0,AR7G5I41187FB4CE6C,NaN,"London, England",NaN,Adam Ant,233.40363,1,SONHOTT12A8C13493C,Something Girls,1982

## #1: `songs` Table
#### Extract Data for Songs Table
- Select columns for song ID, title, artist ID, year, and duration
- Use `df.values` to select just the values from the dataframe
- Index to select the first (only) record in the dataframe
- Convert the array to a list and set it to `song_data`

In [102]:
song_data = df[['song_id','title','artist_id','year','duration']].values[0].tolist()
song_data

['SONHOTT12A8C13493C',
 'Something Girls',
 'AR7G5I41187FB4CE6C',
 1982,
 233.40363]

#### Insert Record into Song Table
Implement the `song_table_insert` query in `sql_queries.py` and run the cell below to insert a record for this song into the `songs` table. Remember to run `create_tables.py` before running the cell below to ensure you've created/resetted the `songs` table in the sparkify database.

In [103]:
cur.execute(song_table_insert, song_data)
conn.commit()

Run `test.ipynb` to see if you've successfully added a record to this table.

## #2: `artists` Table
#### Extract Data for Artists Table
- Select columns for artist ID, name, location, latitude, and longitude
- Use `df.values` to select just the values from the dataframe
- Index to select the first (only) record in the dataframe
- Convert the array to a list and set it to `artist_data`

In [104]:
artist_data = df[['artist_id','artist_name','artist_location','artist_latitude','artist_longitude']].values[0].tolist()
artist_data

['AR7G5I41187FB4CE6C', 'Adam Ant', 'London, England', nan, nan]

#### Insert Record into Artist Table
Implement the `artist_table_insert` query in `sql_queries.py` and run the cell below to insert a record for this song's artist into the `artists` table. Remember to run `create_tables.py` before running the cell below to ensure you've created/resetted the `artists` table in the sparkify database.

In [105]:
cur.execute(artist_table_insert, artist_data)
conn.commit()

Run `test.ipynb` to see if you've successfully added a record to this table.

# Process `log_data`
In this part, you'll perform ETL on the second dataset, `log_data`, to create the `time` and `users` dimensional tables, as well as the `songplays` fact table.

Let's perform ETL on a single log file and load a single record into each table.
- Use the `get_files` function provided above to get a list of all log JSON files in `data/log_data`
- Select the first log file in this list
- Read the log file and view the data

In [106]:
log_files = get_files('data/log_data')

In [107]:
filepath = log_files[0]

In [120]:
df = pd.read_json(filepath,lines=True)
df.head()

,artist,auth,firstName,gender,itemInSession,lastName,length,level,location,method,page,registration,sessionId,song,status,ts,userAgent,userId
0,Frumpies,Logged In,Anabelle,F,0,Simpson,134.47791,free,"Philadelphia-Camden-Wilmington, PA-NJ-DE-MD",PUT,NextSong,1.541044e+12,455,Fuck Kitty,200,1541903636796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",69
1,Kenny G with Peabo Bryson,Logged In,Anabelle,F,1,Simpson,264.75057,free,"Philadelphia-Camden-Wilmington, PA-NJ-DE-MD",PUT,NextSong,1.541044e+12,455,By The Time This Night Is Over,200,1541903770796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",69
2,Biffy Clyro,Logged In,Anabelle,F,2,Simpson,189.83138,free,"Philadelphia-Camden-Wilmington, PA-NJ-DE-MD",PUT,NextSong,1.541044e+12,455,God & Satan,200,1541904034796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",69
3,None,Logged In,Lily,F,0,Burns,NaN,free,"New York-Newark-Jersey City, NY-NJ-PA",GET,Home,1.540621e+12,456,None,200,1541910841796,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",32
4,HIM,Logged In,Lily,F,1,Burns,212.06159,free,"New York-Newark-Jersey City, NY-NJ-PA",PUT,NextSong,1.540621e+12,456,Beautiful,200,1541910973796,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",32

## #3: `time` Table
#### Extract Data for Time Table
- Filter records by `NextSong` action
- Convert the `ts` timestamp column to datetime
  - Hint: the current timestamp is in milliseconds
- Extract the timestamp, hour, day, week of year, month, year, and weekday from the `ts` column and set `time_data` to a list containing these values in order
  - Hint: use pandas' [`dt` attribute](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.dt.html) to access easily datetimelike properties.
- Specify labels for these columns and set to `column_labels`
- Create a dataframe, `time_df,` containing the time data for this file by combining `column_labels` and `time_data` into a dictionary and converting this into a dataframe

In [109]:
#print(pd.to_datetime(df['ts'],unit='ms').dt.weekday)
time_data=[]

In [124]:
df = df[df['page']=='NextSong']
df.head()

,artist,auth,firstName,gender,itemInSession,lastName,length,level,location,method,page,registration,sessionId,song,status,ts,userAgent,userId
0,Frumpies,Logged In,Anabelle,F,0,Simpson,134.47791,free,"Philadelphia-Camden-Wilmington, PA-NJ-DE-MD",PUT,NextSong,1.541044e+12,455,Fuck Kitty,200,1541903636796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",69
1,Kenny G with Peabo Bryson,Logged In,Anabelle,F,1,Simpson,264.75057,free,"Philadelphia-Camden-Wilmington, PA-NJ-DE-MD",PUT,NextSong,1.541044e+12,455,By The Time This Night Is Over,200,1541903770796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",69
2,Biffy Clyro,Logged In,Anabelle,F,2,Simpson,189.83138,free,"Philadelphia-Camden-Wilmington, PA-NJ-DE-MD",PUT,NextSong,1.541044e+12,455,God & Satan,200,1541904034796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",69
4,HIM,Logged In,Lily,F,1,Burns,212.06159,free,"New York-Newark-Jersey City, NY-NJ-PA",PUT,NextSong,1.540621e+12,456,Beautiful,200,1541910973796,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",32
5,Matmos,Logged In,Joseph,M,0,Gutierrez,1449.11628,free,"Columbia, SC",PUT,NextSong,1.540809e+12,284,Supreme Balloon,200,1541911006796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_3...",75

In [111]:
t = pd.to_datetime(df['ts'],unit='ms')
t.head()

0   2018-11-11 02:33:56.796
1   2018-11-11 02:36:10.796
2   2018-11-11 02:40:34.796
4   2018-11-11 04:36:13.796
5   2018-11-11 04:36:46.796
Name: ts, dtype: datetime64[ns]

In [112]:
time_data = (df['ts'],t.dt.hour,t.dt.day,t.dt.week,t.dt.month,t.dt.year,t.dt.weekday)
column_labels = ('start_time', 'hour', 'day', 'week', 'month', 'year', 'weekday')

In [113]:
timedata = dict(zip(column_labels,time_data))

In [114]:
time_df = pd.DataFrame(timedata)
time_df.head()

      start_time  hour  day  week  month  year  weekday
0  1541903636796     2   11    45     11  2018        6
1  1541903770796     2   11    45     11  2018        6
2  1541904034796     2   11    45     11  2018        6
4  1541910973796     4   11    45     11  2018        6
5  1541911006796     4   11    45     11  2018        6

#### Insert Records into Time Table
Implement the `time_table_insert` query in `sql_queries.py` and run the cell below to insert records for the timestamps in this log file into the `time` table. Remember to run `create_tables.py` before running the cell below to ensure you've created/resetted the `time` table in the sparkify database.

In [115]:
for i, row in time_df.iterrows():
    cur.execute(time_table_insert, list(row))
    conn.commit()

Run `test.ipynb` to see if you've successfully added records to this table.

## #4: `users` Table
#### Extract Data for Users Table
- Select columns for user ID, first name, last name, gender and level and set to `user_df`

In [116]:
user_df = df[['userId','firstName','lastName','gender','level']]

#### Insert Records into Users Table
Implement the `user_table_insert` query in `sql_queries.py` and run the cell below to insert records for the users in this log file into the `users` table. Remember to run `create_tables.py` before running the cell below to ensure you've created/resetted the `users` table in the sparkify database.

In [117]:
for i, row in user_df.iterrows():
    cur.execute(user_table_insert, row)
    conn.commit()

Run `test.ipynb` to see if you've successfully added records to this table.

## #5: `songplays` Table
#### Extract Data and Songplays Table
This one is a little more complicated since information from the songs table, artists table, and original log file are all needed for the `songplays` table. Since the log file does not specify an ID for either the song or the artist, you'll need to get the song ID and artist ID by querying the songs and artists tables to find matches based on song title, artist name, and song duration time.
- Implement the `song_select` query in `sql_queries.py` to find the song ID and artist ID based on the title, artist name, and duration of a song.
- Select the timestamp, user ID, level, song ID, artist ID, session ID, location, and user agent and set to `songplay_data`

#### Insert Records into Songplays Table
- Implement the `songplay_table_insert` query and run the cell below to insert records for the songplay actions in this log file into the `songplays` table. Remember to run `create_tables.py` before running the cell below to ensure you've created/resetted the `songplays` table in the sparkify database.

In [131]:
for index, row in df.iterrows():
    print(song_select)
    print(row.song, 'artist',row.artist, row.length)

select s.song_id, a.artist_id from songs s, artists a where s.title=(%s) and a.name=(%s) and s.artist_id=a.artist_id and s.duration=(%s);

Fuck Kitty artist Frumpies 134.47791
select s.song_id, a.artist_id from songs s, artists a where s.title=(%s) and a.name=(%s) and s.artist_id=a.artist_id and s.duration=(%s);

By The Time This Night Is Over artist Kenny G with Peabo Bryson 264.75057
select s.song_id, a.artist_id from songs s, artists a where s.title=(%s) and a.name=(%s) and s.artist_id=a.artist_id and s.duration=(%s);

God & Satan artist Biffy Clyro 189.83138
select s.song_id, a.artist_id from songs s, artists a where s.title=(%s) and a.name=(%s) and s.artist_id=a.artist_id and s.duration=(%s);

Beautiful artist HIM 212.06159
select s.song_id, a.artist_id from songs s, artists a where s.title=(%s) and a.name=(%s) and s.artist_id=a.artist_id and s.duration=(%s);

Supreme Balloon artist Matmos 1449.11628
select s.song_id, a.artist_id from songs s, artists a where s.title=(%s) and a.name=(%s) and s.artist_id=a.artist_id and s.duration=(%s);

The One artist Gary Allan 259.83955
select s.song_id, a.artist_id from songs s, artists a where s.title=(%s) and a.name=(%s) and s.artist_id=a.artist_id and s.duration=(%s);

Five Roses artist Miracle Fortress 200.9073
select s.song_id, a.artist_id from songs s, artists a where s.title=(%s) and a.name=(%s) and s.artist_id=a.artist_id and s.duration=(%s);

Cuentale artist Don Omar 261.35465
select s.song_id, a.artist_id from songs s, artists a where s.title=(%s) and a.name=(%s) and s.artist_id=a.artist_id and s.duration=(%s);

D'Evils artist Jay-Z 212.27057
select s.song_id, a.artist_id from songs s, artists a where s.title=(%s) and a.name=(%s) and s.artist_id=a.artist_id and s.duration=(%s);

Easily (Album Version) artist Red Hot Chili Peppers 231.33995
select s.song_id, a.artist_id from songs s, artists a where s.title=(%s) and a.name=(%s) and s.artist_id=a.artist_id and s.duration=(%s);

Rebels of the Sacred Heart artist Flogging Molly 361.9522
select s.song_id, a.artist_id from songs s, artists a where s.title=(%s) and a.name=(%s) and s.artist_id=a.artist_id and s.duration=(%s);

Now_ Right Now artist Reverend Horton Heat 158.64118
select s.song_id, a.artist_id from songs s, artists a where s.title=(%s) and a.name=(%s) and s.artist_id=a.artist_id and s.duration=(%s);

I Made A Resolution artist Sea Wolf 232.61995
select s.song_id, a.artist_id from songs s, artists a where s.title=(%s) and a.name=(%s) and s.artist_id=a.artist_id and s.duration=(%s);

Lucky (Album Version) artist Jason Mraz & Colbie Caillat 189.6224
select s.song_id, a.artist_id from songs s, artists a where s.title=(%s) and a.name=(%s) and s.artist_id=a.artist_id and s.duration=(%s);

Enoughs Enough artist Jamie Lidell 175.25506
select s.song_id, a.artist_id from songs s, artists a where s.title=(%s) and a.name=(%s) and s.artist_id=a.artist_id and s.duration=(%s);

Mushaboom (Postal Service Mix) artist Feist 212.79302
select s.song_id, a.artist_id from songs s, artists a where s.title=(%s) and a.name=(%s) and s.artist_id=a.artist_id and s.duration=(%s);

We're Going Out Tonight artist Sex Slaves 175.51628
select s.song_id, a.artist_id from songs s, artists a where s.title=(%s) and a.name=(%s) and s.artist_id=a.artist_id and s.duration=(%s);

To Them These Streets Belong artist Rise Against 169.482
select s.song_id, a.artist_id from songs s, artists a where s.title=(%s) and a.name=(%s) and s.artist_id=a.artist_id and s.duration=(%s);

Get Me Bodied artist BeyoncÃÂ© 359.54893
select s.song_id, a.artist_id from songs s, artists a where s.title=(%s) and a.name=(%s) and s.artist_id=a.artist_id and s.duration=(%s);

Never Leave Me Alone artist Nate Dogg 356.38812
select s.song_id, a.artist_id from songs s, artists a where s.title=(%s) and a.name=(%s) and s.artist_id=a.artist_id and s.duration=(%s);

Love Story artist Taylor Swift 233.89995
select s.song_id, a.artist_id from songs s, artists a where s.title=(%s) and a.name=(%s) and s.artist_id=a.artist_id and s.duration=(%s);

Sweet home Alabama artist Lynyrd Skynyrd 216.60689
select s.song_id, a.artist_id from songs s, artists a where s.title=(%s) and a.name=(%s) and s.artist_id=a.artist_id and s.duration=(%s);

Caught Out There (Explicit) artist Kelis 293.58975
select s.song_id, a.artist_id from songs s, artists a where s.title=(%s) and a.name=(%s) and s.artist_id=a.artist_id and s.duration=(%s);

Last Day Of Magic artist The Kills 203.38893
select s.song_id, a.artist_id from songs s, artists a where s.title=(%s) and a.name=(%s) and s.artist_id=a.artist_id and s.duration=(%s);

What A Feeling artist Collie Buddz featuring Paul Wall 271.62077
select s.song_id, a.artist_id from songs s, artists a where s.title=(%s) and a.name=(%s) and s.artist_id=a.artist_id and s.duration=(%s);

Fireflies artist Charttraxx Karaoke 225.17506
select s.song_id, a.artist_id from songs s, artists a where s.title=(%s) and a.name=(%s) and s.artist_id=a.artist_id and s.duration=(%s);

The Funeral (Album Version) artist Band Of Horses 321.14893
select s.song_id, a.artist_id from songs s, artists a where s.title=(%s) and a.name=(%s) and s.artist_id=a.artist_id and s.duration=(%s);

Clocks artist Coldplay 307.51302
select s.song_id, a.artist_id from songs s, artists a where s.title=(%s) and a.name=(%s) and s.artist_id=a.artist_id and s.duration=(%s);

Have A Nice Day artist Bon Jovi 228.75383
select s.song_id, a.artist_id from songs s, artists a where s.title=(%s) and a.name=(%s) and s.artist_id=a.artist_id and s.duration=(%s);

Alive (2006 Remastered Album Version) artist P.O.D. 203.7024
select s.song_id, a.artist_id from songs s, artists a where s.title=(%s) and a.name=(%s) and s.artist_id=a.artist_id and s.duration=(%s);

Plans (Replanned by Mogwai) artist Bloc Party 222.04036
select s.song_id, a.artist_id from songs s, artists a where s.title=(%s) and a.name=(%s) and s.artist_id=a.artist_id and s.duration=(%s);

Pa Pa Pa artist Los Prisioneros 211.12118
select s.song_id, a.artist_id from songs s, artists a where s.title=(%s) and a.name=(%s) and s.artist_id=a.artist_id and s.duration=(%s);

Lots More Stairs artist Octopus Project 175.25506
select s.song_id, a.artist_id from songs s, artists a where s.title=(%s) and a.name=(%s) and s.artist_id=a.artist_id and s.duration=(%s);

Ecoute Ce Scratch artist Roudoudou 18.41587
select s.song_id, a.artist_id from songs s, artists a where s.title=(%s) and a.name=(%s) and s.artist_id=a.artist_id and s.duration=(%s);

Tierra Tradicional artist Africando 253.54404
select s.song_id, a.artist_id from songs s, artists a where s.title=(%s) and a.name=(%s) and s.artist_id=a.artist_id and s.duration=(%s);

Simmons Incorporated artist RUN-DMC Featuring Method Man_ Kenny Cash_ Mike Ransom_ and Jamel Simmons 266.52689
select s.song_id, a.artist_id from songs s, artists a where s.title=(%s) and a.name=(%s) and s.artist_id=a.artist_id and s.duration=(%s);

I'm Goin' Away artist Graham Coxon 197.14567
select s.song_id, a.artist_id from songs s, artists a where s.title=(%s) and a.name=(%s) and s.artist_id=a.artist_id and s.duration=(%s);

In The Fade artist Queens Of The Stone Age 231.02649
select s.song_id, a.artist_id from songs s, artists a where s.title=(%s) and a.name=(%s) and s.artist_id=a.artist_id and s.duration=(%s);

Strawberry AndrÃÂ© (Album Version) artist Dance Gavin Dance 193.30567
select s.song_id, a.artist_id from songs s, artists a where s.title=(%s) and a.name=(%s) and s.artist_id=a.artist_id and s.duration=(%s);

Eyes As Candles artist Passion Pit 243.69587
select s.song_id, a.artist_id from songs s, artists a where s.title=(%s) and a.name=(%s) and s.artist_id=a.artist_id and s.duration=(%s);

Let's Get It Started artist Black Eyed Peas 229.61587
select s.song_id, a.artist_id from songs s, artists a where s.title=(%s) and a.name=(%s) and s.artist_id=a.artist_id and s.duration=(%s);

Ca plane pour moi artist Plastic Bertrand 180.00934
select s.song_id, a.artist_id from songs s, artists a where s.title=(%s) and a.name=(%s) and s.artist_id=a.artist_id and s.duration=(%s);

Strange Brew artist Cream 166.5824
select s.song_id, a.artist_id from songs s, artists a where s.title=(%s) and a.name=(%s) and s.artist_id=a.artist_id and s.duration=(%s);

A Message artist Coldplay 284.39465
select s.song_id, a.artist_id from songs s, artists a where s.title=(%s) and a.name=(%s) and s.artist_id=a.artist_id and s.duration=(%s);

Sweat the Battle Before the Battle Sweats You (Album Version) artist Cute Is What We Aim For 172.22485
select s.song_id, a.artist_id from songs s, artists a where s.title=(%s) and a.name=(%s) and s.artist_id=a.artist_id and s.duration=(%s);

Of Wolf And Man artist Metallica 256.9922
select s.song_id, a.artist_id from songs s, artists a where s.title=(%s) and a.name=(%s) and s.artist_id=a.artist_id and s.duration=(%s);

Tape Song artist The Kills 217.70404
select s.song_id, a.artist_id from songs s, artists a where s.title=(%s) and a.name=(%s) and s.artist_id=a.artist_id and s.duration=(%s);

The Pretender artist Foo Fighters 271.38567
select s.song_id, a.artist_id from songs s, artists a where s.title=(%s) and a.name=(%s) and s.artist_id=a.artist_id and s.duration=(%s);

Eyen [Chosen by fans on Warp20.net] artist Plaid 260.96281
select s.song_id, a.artist_id from songs s, artists a where s.title=(%s) and a.name=(%s) and s.artist_id=a.artist_id and s.duration=(%s);

It's New To Me artist The Van Pelt 208.71791
select s.song_id, a.artist_id from songs s, artists a where s.title=(%s) and a.name=(%s) and s.artist_id=a.artist_id and s.duration=(%s);

Make You Smile artist +44 224.57424
select s.song_id, a.artist_id from songs s, artists a where s.title=(%s) and a.name=(%s) and s.artist_id=a.artist_id and s.duration=(%s);

I May Never Find artist Chris Brown 275.1473
select s.song_id, a.artist_id from songs s, artists a where s.title=(%s) and a.name=(%s) and s.artist_id=a.artist_id and s.duration=(%s);

Black Horse And The Cherry Tree (Radio Version) artist KT Tunstall 170.47465
select s.song_id, a.artist_id from songs s, artists a where s.title=(%s) and a.name=(%s) and s.artist_id=a.artist_id and s.duration=(%s);

Kids In America artist Cascada 184.39791
select s.song_id, a.artist_id from songs s, artists a where s.title=(%s) and a.name=(%s) and s.artist_id=a.artist_id and s.duration=(%s);

Black Heart Inertia artist Incubus 293.38077
select s.song_id, a.artist_id from songs s, artists a where s.title=(%s) and a.name=(%s) and s.artist_id=a.artist_id and s.duration=(%s);

Black & Blue artist Miike Snow 220.83873
select s.song_id, a.artist_id from songs s, artists a where s.title=(%s) and a.name=(%s) and s.artist_id=a.artist_id and s.duration=(%s);

Sala De RecepÃÂ§ÃÂ£o artist Cartola 208.92689
select s.song_id, a.artist_id from songs s, artists a where s.title=(%s) and a.name=(%s) and s.artist_id=a.artist_id and s.duration=(%s);

Commander In Thief artist Kill The Client 70.68689
select s.song_id, a.artist_id from songs s, artists a where s.title=(%s) and a.name=(%s) and s.artist_id=a.artist_id and s.duration=(%s);

Woman artist Wolfmother 175.82975
select s.song_id, a.artist_id from songs s, artists a where s.title=(%s) and a.name=(%s) and s.artist_id=a.artist_id and s.duration=(%s);

Wagon Wheel artist Old Crow Medicine Show 231.73179
select s.song_id, a.artist_id from songs s, artists a where s.title=(%s) and a.name=(%s) and s.artist_id=a.artist_id and s.duration=(%s);

Debbie artist Architecture In Helsinki 173.73995
select s.song_id, a.artist_id from songs s, artists a where s.title=(%s) and a.name=(%s) and s.artist_id=a.artist_id and s.duration=(%s);

I Think I'll Live artist Charlie Louvin 170.86649
select s.song_id, a.artist_id from songs s, artists a where s.title=(%s) and a.name=(%s) and s.artist_id=a.artist_id and s.duration=(%s);

La Derrota de Un Don Juan artist Miguel Morales 270.78485
select s.song_id, a.artist_id from songs s, artists a where s.title=(%s) and a.name=(%s) and s.artist_id=a.artist_id and s.duration=(%s);

Le Courage Des Oiseaux artist Dominique A 153.20771
select s.song_id, a.artist_id from songs s, artists a where s.title=(%s) and a.name=(%s) and s.artist_id=a.artist_id and s.duration=(%s);

Run With The Blind artist Cock Sparrer 203.25832
select s.song_id, a.artist_id from songs s, artists a where s.title=(%s) and a.name=(%s) and s.artist_id=a.artist_id and s.duration=(%s);

I Love You So Much It Hurts artist Jimmy Wakely 165.74649
select s.song_id, a.artist_id from songs s, artists a where s.title=(%s) and a.name=(%s) and s.artist_id=a.artist_id and s.duration=(%s);

A Little Death Around the Eyes artist Peter Doherty 217.02485
select s.song_id, a.artist_id from songs s, artists a where s.title=(%s) and a.name=(%s) and s.artist_id=a.artist_id and s.duration=(%s);

Thinking Of You artist Katy Perry 246.41261
select s.song_id, a.artist_id from songs s, artists a where s.title=(%s) and a.name=(%s) and s.artist_id=a.artist_id and s.duration=(%s);

You Love Me Anyway (Album) artist Sidewalk Prophets 260.62322
select s.song_id, a.artist_id from songs s, artists a where s.title=(%s) and a.name=(%s) and s.artist_id=a.artist_id and s.duration=(%s);

Torches artist Rise Against 221.17832
select s.song_id, a.artist_id from songs s, artists a where s.title=(%s) and a.name=(%s) and s.artist_id=a.artist_id and s.duration=(%s);

Wavin'  Flag artist K'Naan 220.49914
select s.song_id, a.artist_id from songs s, artists a where s.title=(%s) and a.name=(%s) and s.artist_id=a.artist_id and s.duration=(%s);

Holiday artist Patrick Jumpen 208.87465
select s.song_id, a.artist_id from songs s, artists a where s.title=(%s) and a.name=(%s) and s.artist_id=a.artist_id and s.duration=(%s);

Empire State Of Mind (Part II) Broken Down artist Alicia Keys 216.47628

In [128]:
for index, row in df.iterrows():

    # get songid and artistid from song and artist tables
    results = cur.execute(song_select, (row.song, row.artist, row.length))
    
    songid, artistid = results if results else None, None
 
    songplay_data=(row.ts,row.userId,row.level,songid,artistid,row.sessionId,row.location,row.userAgent)

    cur.execute(songplay_table_insert, songplay_data)
    conn.commit()

Run `test.ipynb` to see if you've successfully added records to this table.

# Close Connection to Sparkify Database

In [129]:
conn.close()

# Implement `etl.py`
Use what you've completed in this notebook to implement `etl.py`.